<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>All products</title>
</head>
<body>
    <h1>Farm Products</h1>
    <% if (products.length === 0) { %>
            <p>No Products yet</p>
    <% } else { %>
            <% products.forEach(product => {%>
                <li><a href="/farmStand/product/<%= product._id %>"><%= product.name %></a></li>                
            <% }); %>
    <% } %>
</body>
</html>