<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%=category%> products</title>
</head>
<body>
    <h1><%=category%> Products</h1>
    <a href='/farmStand/product/new'>New a product</a>
    <% if (products.length === 0) { %>
            <p>No Products yet</p>
    <% } else { %>
            <ul>
            <% products.forEach(product => {%>
                <li><a href="/farmStand/product/<%= product._id %>"><%= product.name %></a></li>                
            <% }); %>
            </ul>
    <% } %>
    <% if (isFilter) { %>
        <a href="/farmStand/products">All Products</a>
    <% } %>
</body>
</html>