<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>New product</title>
</head>
<body>
    <h1>Add A Prodcut</h1>
    <form action="/farmStand/product/new" method="POST">
        <label for="name">Product Name</label>
        <input type="text" id= "name" name="name" placeholder="product name">
        <label for="number">Price (Unit)</label>
        <input type="number" id= "price" name="price" placeholder="price">
        <label for="category">Select Category</label>
        <select name="category" id="category">
            <%for(let category of categories){%>
                <option value="<%=category%>"> <%=category%></option>
            <%}%>
        </select>
        <button>Submit</button>
    </form>
</body>
</html>