<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comments</title>
</head>

<html>

<body>
    <h1>Make a new comment</h1>
    <form action="" method="POST">
        <section>
            <label for="username">Enter username:</label>
            <input type="text" placeholder="username" name="username"></input>
        </section>
        <br>
        <section>
            <label for="comment">Comment</label><br>
            <textarea type="text" cols="35" rows="5" placeholder="comment" name="comment"></textarea>
        </section>
        <button>Submit</button>
    </form>
    <a href="/comments"> < Back to comments</a>
</body>

</html>