<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>idPost</title>
</head>

<html>

<body>
    <h1><%=data.id%></h1>
    <%=data.comment%> - <b><%=data.username%></b>
    <br>
    <a href="/comments">Back to comment</a>
</body>

</html>