<%- include('partials/head') %>

    <%- include('partials/navbar') %>
    <!-- EJS Syntax-->
    <h1>The Home Page <%= 'hello world'.toUpperCase() %>
    </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, vitae sint. Magni doloribus natus suscipit laborum
        harum distinctio dicta recusandae expedita voluptate deserunt iste voluptatum impedit, facere asperiores quod
        sapiente</p>
<%- include('partials/footer') %>