<%- include('partials/head') %>
    <%- include('partials/navbar') %>
    <!-- EJS Syntax-->
    <h1>
        All The Cats
    </h1>
    <ul>
        <% for(let cat of cats) {%>
            <li><%= cat%></li>
        <%}%>
    </ul>
    
<%- include('partials/footer') %>